@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: #ffffff;
}
body.dark {
  color: #93b1a6;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}
li {
  list-style-type: none;
}

.div-slider {
  display:flex;
  justify-content: center;
  align-items: center;
}

